#cardItemFull{
    background-color: aqua;
    display: flex;
    justify-content: center;
}

#cardItemInfo{
    /* width: 30%; */
    background-color: white;
    display: flex;
    padding: 15px;
}

#cardItem{
    background-color: white;
    width: 60%;
    border-radius: 0 10px 10px 0;
    margin: 0 auto;
    display: flex;
}

#cardItem img{
    height: 370px;
}

#infoItem{
    background-color: aqua;
    height: 100%;
    padding: 5px;
    color: black;
    width: 100%;
    
}

#infoItem h3{
    color: black;
    text-align: center;
}

#iconsItem{
    justify-content: space-between;
    display: flex;
}

#cardInfoItem_2{
    display: block;
}
