.main {
    height: auto;
    width: 100%;
    position: inherit;
    bottom: 0;
    color: #979DAC;
    background-color: #001233;
}

h3{
    color: white;
}

.footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #001233;
}

.col{
    flex-direction: column;
    margin-top:1em;
    margin-bottom: 1em;
}

.col ul li {
    list-style: none;
    font-size: 13px;
}

.col ul li:hover{
    color: white;
    cursor: pointer;
}

hr{
    width:60%;
    margin: 0 auto;
}

.info{
    text-align: center;
}

.info span{
    padding-right: 15px;
    font-size: 2em;
}

.info span:hover{
    color: #ffff;
    cursor: pointer;
}

.col img{
    height: 150px;
    border-radius: 20%;
}
.col img:hover{
    animation: fundoLogo 3s linear;
}

.info div{
    padding: 5px;
    
}
 